// Padding used for layout margins
$pad-min: 3% !default;
$pad-narrow: 6% !default;
$pad-medium: 10% !default;
$pad-wide: 25% !default;

$indented-lists: false !default;

$header-font-size: 1em !default;
$header-padding-top: 5.5em !default;
$header-padding-bottom: 0 !default;

.group { @include pie-clearfix; }

body {
  -webkit-text-size-adjust: none;
  border-top: 8px solid #333;
  position: relative;
  margin: 0 auto;
  > header, > nav, > footer, #content > article, #content > div > article, #content > div > section {
    @extend .group;
    padding-left: $pad-min;
    padding-right: $pad-min;
    @media only screen and (min-width: 480px) {
      padding-left: $pad-narrow;
      padding-right: $pad-narrow;
    }
    @media only screen and (min-width: 768px) {
      padding-left: $pad-medium;
      padding-right: $pad-medium;
    }
    @media only screen and (min-width: 992px) {
      padding-left: $pad-wide;
      padding-right: $pad-wide;
    }
  }
  div.pagination {
    @extend .group;
    margin-left: $pad-min;
    margin-right: $pad-min;
    @media only screen and (min-width: 480px) {
      margin-left: $pad-narrow;
      margin-right: $pad-narrow;
    }
    @media only screen and (min-width: 768px) {
      margin-left: $pad-medium;
      margin-right: $pad-medium;
    }
    @media only screen and (min-width: 992px) {
      margin-left: $pad-wide;
      margin-right: $pad-wide;
    }
  }
  > header {
    font-size: $header-font-size;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
  }
}

#content {
  overflow: hidden;
  > div, > article { 
    text-align:justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.flex-content { max-width: 100%; height: auto; }

.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: 0; }
}

@media only screen and (min-width: 550px) {
  body > header { font-size: $header-font-size; }
}

#main, #content, {
  @extend .group;
}
@media only screen and (min-width: 768px) {
  body { -webkit-text-size-adjust: auto; }
  body > header { font-size: $header-font-size * 1.2; }
  #main {
    padding: 0;
    margin: 0 auto;
  }
  #content {
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    > div, > article {
      padding-top: $pad-medium/2;
      padding-bottom: 0;
    }
  }
}

@media only screen and (min-width: 992px) {
  body > header { font-size: $header-font-size * 1.3; }
  #content { margin-right: auto;
  margin-left: auto; }
  #content {
    > div, > article {
      padding-top: $pad-wide/9;
      padding-bottom: 0;
    }
  }
}

@if $indented-lists == false {
  @media only screen and (min-width: 768px) {
    ul, ol { margin-left: 0; }
  }
}

