body > nav {
  position: relative;
  background-color: $nav-bg;
  @include background($nav-bg);
  padding-top: .35em;
  padding-bottom: .35em;
  text-align:center;

  form {
    @include background-clip(padding-box);
    margin: 0; padding: 0;
    color: #333;
    .search {
      text-align: center;
      padding: .4em .5em 0em;
      font-size: 1.1em;
      font-family: $serif;
      line-height: 1.1em;
      width: 90%;
      @include border-radius(.15em);
      @include background-clip(padding-box);
      @include box-shadow(lighten($nav-bg, 2) 0 1px);
      background-color: $nav-bg;
      border: 1px solid $nav-border;
      color: #aaa;
      &:focus {
        color: #aaa;
        border-color: $link-color-hover;
        @include box-shadow($link-color-hover 0 0 4px, $link-color-hover 0 0 3px inset);
        background-color: #fff;
        outline: none;
      }
    }
  }
  fieldset[role=search]{ width: 52%; display: inline-block; margin-left: 0%; margin-right: 1.5%;}
  fieldset.mobile-nav{ width: 45%; display: inline-block; margin-left: 0%; margin-right: 0%;
    select{ width: 100%; font-size: .8em; border: 1px solid $nav-border; background-color: #eee;}
  }
  ul { display: none; }
  @media only screen and (min-width: 550px) {
    font-size: .95em;
    ul {
      @include horizontal-list(0);
      display: inline-block;
      padding-top: .15em;
    }
    ul.subscription {
      margin-left: .8em;
      li:last-child a { padding-right: 0; }
    }
    ul li {
      margin: 0;
    }
    a {
      @include link-colors($nav-color, $nav-color-hover, $visited: $nav-color);
      font-family: $serif;
      text-shadow: lighten($nav-bg, 12) 0 1px;
      text-decoration: none;
      font-size: 1.1em;
      padding: .1em 0;
      line-height: 1.5em;
    }
    li + li {
      margin-left: 0.5em;
      a {
        padding-left: .5em;
      }
    }
    form {
      display: inline-block;
      text-align: center;
      width: 250px; // chr
      .search {
        width: 93%;
        font-size: .95em;
        line-height: 1.2em;
      }
    }
    ul[data-subscription$=email] + form {
      width: 258px; // chr
      .search { width: 91%; }
    }
    fieldset.mobile-nav { display: none; }
    fieldset[role=search]{ width: 99%; }
  }
  @media only screen and (min-width: 992px) {
    form {
      width: 250px; // chr
    }
    ul[data-subscription$=email] + form {
      width: 258px; // chr
    }
  }
}
.no-placeholder {
  body > nav .search {
    background: lighten($nav-bg, 15) image-url('search.png') .3em .25em no-repeat;
    text-indent: 1.3em;
  }
}
@mixin mask-subscription-nav($feed: 'rss.png'){
  position: relative; top: 0px;
  text-indent: -999999em;
  background-color: $nav-border-right;
  border: 0;
  padding: 0;
  &,&:after { @include mask-image($feed); }
  &:after {
    content: "";
    position: absolute; top: -1px; left: 0;
    background-color: lighten($nav-color, 25);
  }
  &:hover:after { background-color: lighten($nav-color, 20); }
}
.maskImage {
  body > nav {
    @media only screen and (min-width: 550px) {
      ul[data-subscription$=email] + form {
        width: 232px; // chr
      }
    }
    @media only screen and (min-width: 992px) {
      ul[data-subscription$=email] + form {
        width: 232px; // chr
      }
    }
  }
  ul.subscription { position: relative; top: .2em; li, a { border: 0; padding: 0; }}
  a[rel=subscribe-rss]{ @include mask-subscription-nav('rss.png'); }
  a[rel=subscribe-email]{ @include mask-subscription-nav('email.png'); }
}

